$colorMain: #593B32;
$colorGold: rgb(255, 219, 60);
$borderColor: lighten($colorMain, 20%);
$bgColor: lighten($colorMain, 5%);
$linkColor: rgb(176, 255, 255);
$shadowColor: rgba(0, 0, 0, 0.644);

body {
    height: 100%;
    max-height: 1400px;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 30px $shadowColor;
}

h1, h4 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

h1 {
    color: $colorGold;
    font-size: 2.3rem;
}

header, main article, .news, nav, footer {
    color: white;
    background-color: $bgColor;
}

header button, nav {
    flex: 0;
}

header .content, main {
    flex: 1;
}

html {
    font-size: 18px;
}

footer {
    width:auto;
    margin-top: 4rem;
    border-top: 0.25rem solid $borderColor;
    height: auto;
}

footer, footer p {
    margin-bottom: 0;
}

body {
    background-image: url(images/pexels-cottonbro-studio-6715125.jpg);
    margin: 0;
}

body, ul {
    padding: 0;
}

a {
    color: $linkColor;
}

.double {
    display: flex;
    justify-content: space-between;
}

.news, .content, article, nav {
    border: 0.25em solid $borderColor;
}

.pcOnly {
    display: none;
}

.news, .content, .image, article {
    border-radius: 1em;
}
.news, .image, .content, article, nav {
    box-shadow: 10px 10px 6px $shadowColor;
}
.dropdown .responsive {
    box-shadow: none;
    border: 0;
}

main, .image, .news {
    margin: 3vh;
}

.image {
    margin-left: 0;
    width: 25vw;
    max-width: 200px;
}


header, main article, .news, nav, h1, h4, p {
    padding:2vw;
}

.content {
    margin: 0;
}

.content, .news, nav li {
    background-color: $colorMain;
}

.news {
    min-height: 120px;
    width:60vw;
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-right:0;
}

h1, h4, header p, footer, .news {
    text-align: center;
}


@media (min-width: 768px) {
    .pcOnly {
        display: block;
    }
    
    nav.pcOnly {
        border-top: none;
        border-left: none;
        font-size: 1.3rem;
        padding-left:0px;
    }

    ul {
        list-style: none;
        padding: 0px;
    }

    nav ul li {
        padding: 0.2rem;
        margin: 1rem 0.6rem 1rem 0.6rem;
        text-align: center;
        border: 0.2rem solid $borderColor;
    }

    li.inactive {
        color: grey;
    }

    nav li {
        box-shadow: 4px 4px 3px $shadowColor;
    }

    html {
        font-size: 16px;
    }
    .megaFlex {
        display: flex;
    }
    .dropdown {
        display: none;
    }
    main {
        max-width: 70vw;
        margin-left: auto;
    }
    nav {
        min-width: 180px;
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 20px;
    }
    nav {
        min-width: 250px;
        padding-right: 0;
    }
}

@media (orientation: portrait) {
    .megaFlex {
        margin-bottom: 0px;
    }
    footer {
        display: block;
        height: 90px;
    }
}