$colorMain: #593B32;
$borderColor: lighten($colorMain, 20%);
$bgColor: lighten($colorMain, 5%);
$fontsizeMain: 20px;

body {
    background-image: url(images/pexels-cottonbro-studio-6715125.jpg);
    padding: 0;
    margin: 0;
    font-size: $fontsizeMain;
}

a {
    text-decoration: none;
}

section a {
    color: rgb(176, 255, 255);
}

div, image, article {
    border: $fontsizeMain/4 solid $borderColor;
    border-radius: $fontsizeMain;
    box-shadow: 4px 4px 10px black;
}

section {
    display: flex;
    justify-content: space-evenly;
}

header, main article, main div, nav, h1, h4, p {
    padding:2vw;
}


header, main article, main div, nav {
    color: white;
    background-color: $bgColor;
}

.content {
    margin: 0;
    background-color: $colorMain;
}

h1, h4, header p {
    text-align: center;
}

.image, .news, main {
    margin: 3vh;
}

.news {
    margin: 3vh;
    min-height: 120px;
    height:10vh;
    width:40vw;
    text-align: center;
    font-size: $fontsizeMain*1.25;
    line-height: 1.2em;
}
