$colorMain: #593B32;
$colorGold: rgb(255, 219, 60);
$borderColor: lighten($colorMain, 20%);
$bgColor: lighten($colorMain, 5%);
$linkColor: rgb(176, 255, 255);
$shadowColor: rgba(0, 0, 0, 0.644);

body {
    height: 100%;
    max-height: 1400px;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 30px $shadowColor;
}

h1, h4 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

h1 {
    color: $colorGold;
    font-size: 2.3rem;
}

header, main article, main div, nav, footer {
    color: white;
    background-color: $bgColor;
}

header button, nav {
    flex: 0;
}

header .content, main {
    flex: 1;
}

html {
    font-size: 18px;
}

footer {
    width:auto;
    margin-bottom: 0;
    margin-top: 4rem;
    border-top: 0.25rem solid $borderColor;
    height: auto;
}

footer p {
    margin-bottom: 0;
}

body {
    background-image: url(images/pexels-cottonbro-studio-6715125.jpg);
    margin: 0;
}

body {
    padding: 0;
}

a {
    color: $linkColor;
}

section {
    display: flex;
    justify-content: space-between;
}

main div, .content, article, nav {
    border: 0.25em solid $borderColor;
}

nav {
    border-top: none;
    border-left: none;
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding: 0.5rem;
}

li {
    margin: 0.5rem;
}

li.inactive {
    color: grey;
}

main div, .content, .image, article {
    border-radius: 1em;
}
main div, .image, .content, article, nav {
    box-shadow: 12px 12px 6px $shadowColor;
}

.dropdown .responsive {
    box-shadow: none;
    border: 0;
}

main, .image, .news {
    margin: 3vh;
}

.image {
    margin-left: 0;
    width: 25vw;
    max-width: 200px;
}


header, main article, main div, nav, h1, h4, p {
    padding:2vw;
}

.content {
    margin: 0;
}

.content, .news {
    background-color: $colorMain;
}

.news {
    min-height: 120px;
    width:60vw;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin-right:0;
}

h1, h4, header p {
    text-align: center;
}


.pcOnly {
    display: none;
}


@media (min-width: 768px) {
    .pcOnly {
        display: block;
    }
    html {
        font-size: 16px;
    }
    .megaFlex {
        display: flex;
    }
    .dropdown {
        display: none;
    }
    header {
        background-color: $colorMain;
    }
    main {
        max-width: 70vw;
        margin-left: auto;
    }
    nav {
        min-width: 180px;
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 20px;
    }
    nav {
        min-width: 250px;
        padding-right: 0;
    }
}

@media (orientation: portrait) {
    footer {
        display: none;
    }
}