body {
  height: 100%;
  max-height: 1400px;
  margin: 0;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.644);
}

h1, h4, .card-title {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
}

h1, .card-title {
  font-size: 2.3rem;
}

h1 {
  color: rgb(255, 216, 108);
}

.card-title {
  color: #ffbd06;
}

header, main article, .news, nav.pcOnly, footer {
  color: white;
  background-color: #563a31;
}

header button, nav.pcOnly {
  flex: 0;
}

header .content, main {
  flex: 1;
}

html {
  font-size: 18px;
}

footer {
  width: auto;
  margin-top: 4rem;
  border-top: 0.25rem solid #875b4d;
  height: auto;
}

footer, footer p {
  margin-bottom: 0;
}

body, ul {
  padding: 0;
}

a {
  color: rgb(176, 255, 255);
}

.double {
  display: flex;
  justify-content: space-between;
}

.news, .content, article, nav.pcOnly {
  border: 0.2em solid #875b4d;
}

.pcOnly {
  display: none;
}

.news, .content, .image, article {
  border-radius: 1em;
}

.news, .image, .content, article, nav.pcOnly {
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.644);
}

.dropdown .responsive {
  box-shadow: none;
  border: 0;
}

main, .image, .news {
  margin: 3vh;
}

.image {
  margin-left: 0;
  width: 25vw;
  max-width: 200px;
}

header, main article, .news, nav.pcOnly, h1, h4, p {
  padding: 2vw;
}

.content {
  margin: 0;
}

.content, .news, nav.pcOnly li {
  background-color: #462f28;
}

.news {
  min-height: 120px;
  width: 60vw;
  font-size: 1.1rem;
  line-height: 1.1rem;
  margin-right: 0;
}

h1, h4, header p, footer, .news, .card-title, .card-subtitle {
  text-align: center;
}

nav.breadcrumbNav {
  margin-top: 2rem;
  margin-left: 2rem;
}

.card {
  background-color: rgb(253, 246, 237);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.644);
  max-width: 250px;
}

.card-subtitle {
  color: rgb(66, 65, 65);
  font-size: 1rem;
}

@media (min-width: 768px) {
  .pcOnly {
    display: block;
  }
  nav.pcOnly {
    border-top: none;
    border-left: none;
    font-size: 1.3rem;
    padding-left: 0px;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  nav.pcOnly ul li {
    padding: 0.2rem;
    margin: 1rem 0.6rem 1rem 0.6rem;
    text-align: center;
    border: 0.2rem solid #875b4d;
  }
  li.inactive {
    color: grey;
  }
  nav.pcOnly li {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.644);
  }
  html {
    font-size: 16px;
  }
  .megaFlex {
    display: flex;
  }
  .dropdown {
    display: none;
  }
  main {
    max-width: 70vw;
    margin-left: auto;
  }
  nav.pcOnly {
    min-width: 180px;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 20px;
  }
  nav.pcOnly {
    min-width: 250px;
    padding-right: 0;
  }
}
@media (orientation: portrait) and (max-width: 360px) {
  .megaFlex {
    margin-bottom: 0px;
  }
  main {
    margin-left: 0px;
    margin-right: 0px;
  }
}
body {
  background-image: url(images/pexels-meruyert-gonullu-6243730.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
}

.grilleCustom {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 90vw;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 80%;
  height: 550px;
}

.card-text {
  padding: 0;
  font-size: 0.8rem;
}

.content {
  padding: 2vw;
}

.mobileOnly {
  display: block;
  width: 100%;
  font-size: 1.2rem;
}

@media screen and (min-width: 631px) {
  .mobileOnly {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 815px) {
  nav.pcOnly > ul {
    position: fixed;
    width: 180px;
  }
}
@media screen and (min-width: 816px) {
  nac.pcOnly > ul {
    position: static;
  }
}
@media screen and (min-width: 1100px) {
  .card {
    height: 600px;
  }
  nav.pcOnly > ul {
    width: 250px;
  }
  footer {
    margin-top: 0;
  }
  nav.pcOnly {
    margin-bottom: 0;
    box-shadow: 10px 0px 6px rgba(0, 0, 0, 0.644);
    border-bottom: none;
    margin-right: 2rem;
  }
}/*# sourceMappingURL=secondary.css.map */