@import 'main.scss';

body {
    background-image: url(images/pexels-meruyert-gonullu-6243730.jpg);
    background-size:100vw 100vh;
    background-attachment: fixed;
}

.grilleCustom {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width:80%;
    height: 550px;
}

.card-text {
    padding: 0;
    font-size: 0.8rem;
}

.content {
    padding: 2vw;
}

.mobileOnly {
    display: block;
    width: 100%;
    font-size: 1.2rem;
}

@media screen and (min-width: 631px) {
    .mobileOnly {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 815px) {
    nav.pcOnly > ul {
        position: fixed;
        width: 180px;
    }
}

@media screen and (min-width: 816px) {
    nac.pcOnly > ul {
        position: static;
    }
}

@media screen and (min-width: 1100px) {
    .card {
        height: 600px;
    }
    nav.pcOnly > ul {
        width: 250px;
    }
    footer {
        margin-top: 0;
    }
    nav.pcOnly {
        margin-bottom: 0;
        box-shadow: 10px 0px 6px $shadowColor;
        border-bottom: none;
        margin-right: 2rem;
    }
}